---
const { class: className } = Astro.props

const quotes = [
  '我见青山多妩媚，料青山见我应如是',
  '我与我周旋久，宁作我',
  '功不唐捐，久久为功',
  '世界上只有一种英雄主义，那就是在认清生活真相之后依然热爱生活',
  '滚滚长江东逝水，浪花淘尽英雄',
  '少年听雨歌楼上，红烛昏罗帐。壮年听雨客舟中，江阔云低、断雁叫西风。而今听雨僧庐下，鬓已星星也。悲欢离合总无情，一任阶前、点滴到天明',
  '光阴如骏马加鞭，日月如落花流水',
  '东边日出西边雨，道是无晴却有晴'
]
---

<quote-component class:list={['not-prose inline-block', className]}>
  <div class='flex flex-row items-center gap-x-3 rounded-full border px-4 py-2 text-sm shadow-sm'>
    <span class='relative flex items-center justify-center'>
      <span
        class='absolute size-2 animate-ping rounded-full border border-green-400 bg-green-400 opacity-75'
      ></span>
      <span class='size-2 rounded-full bg-green-400'></span>
    </span>
    <p class='quote-text font-medium text-muted-foreground'></p>
  </div>
</quote-component>

<script define:vars={{ quotes }}>
  const quoteEl = document.currentScript.previousElementSibling.querySelector('.quote-text')
  if (quoteEl) {
    const randomIndex = Math.floor(Math.random() * quotes.length)
    quoteEl.textContent = quotes[randomIndex]
  }
</script>
